@model TourWebVanzonokRV.Models.TourModelVanzonokRV

@{
    ViewData["Title"] = "Новый тур";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Home">
    <div>
        <div class="form-group">
            <label asp-for="title">Название</label>
            <input type="text" asp-for="title" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="totalSum">Общая стоимость</label>
            <input asp-for="totalSum" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="description">Описание</label>
            <input asp-for="description" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="transportID"></label>
            <input asp-for="transportID" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="countryID"></label>
            <input asp-for="countryID" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Вернуться к списку</a>
</div>